In [1]:
import pandas as pd

In [2]:
# reading and showing dataframe
df = pd.read_csv("StudentsPerformance.csv")
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Create Index

In [3]:
import numpy as np
import random

In [8]:
# creating non repetitive values for the index
index = np.arange(0,1000)

In [10]:
# shuffling the indexes
random.shuffle(index)

In [13]:
# creating a new column with new index
df["random index"] = index

# Set Index

In [15]:
# set new_index column as index
df.set_index("random index",inplace=True)

# Sort Index

In [16]:
# sort dataframe by new index
df.sort_index()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
random index,,,,,,,,
0,female,group A,some high school,standard,completed,59,85,80
1,male,group E,high school,standard,none,73,64,57
2,male,group C,some high school,standard,completed,63,60,57
3,male,group A,some college,free/reduced,none,28,23,19
4,male,group B,associate's degree,standard,none,48,43,45
...,...,...,...,...,...,...,...,...
995,male,group B,associate's degree,standard,none,61,42,41
996,male,group D,high school,free/reduced,none,69,70,67
997,male,group C,some high school,standard,none,62,64,55
998,male,group C,some high school,standard,none,73,66,63
999,female,group D,some college,free/reduced,none,71,83,83

In [17]:
# sort descending by index
df.sort_index(ascending=False )

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
random index,,,,,,,,
999,female,group D,some college,free/reduced,none,71,83,83
998,male,group C,some high school,standard,none,73,66,63
997,male,group C,some high school,standard,none,62,64,55
996,male,group D,high school,free/reduced,none,69,70,67
995,male,group B,associate's degree,standard,none,61,42,41
...,...,...,...,...,...,...,...,...
4,male,group B,associate's degree,standard,none,48,43,45
3,male,group A,some college,free/reduced,none,28,23,19
2,male,group C,some high school,standard,completed,63,60,57
1,male,group E,high school,standard,none,73,64,57
0,female,group A,some high school,standard,completed,59,85,80