In [1]:
import pandas as pd

In [11]:
# reading the csv file
df = pd.read_csv("StudentsPerformance.csv")
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Adding a new column

## Adding a new column with a scalar value

In [13]:
# adding new column to dataframe
df["Oral score"]=33
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Oral score
0,female,group B,bachelor's degree,standard,none,72,72,74,33
1,female,group C,some college,standard,completed,69,90,88,33
2,female,group B,master's degree,standard,none,90,95,93,33
3,male,group A,associate's degree,free/reduced,none,47,57,44,33
4,male,group C,some college,standard,none,76,78,75,33
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,33
996,male,group C,high school,free/reduced,none,62,55,55,33
997,female,group C,high school,free/reduced,completed,59,71,65,33
998,female,group D,some college,standard,completed,68,78,77,33
999,female,group D,some college,free/reduced,none,77,86,86,33

## Adding a new column with an array

The dataframe has 1000 rows, so we need to create an array with 1000 elements

In [14]:
# import numpy
import numpy as np

In [26]:
# create an array of 1000 elements
verbal_score =np.arange(0,1000)

In [22]:
# length of the array
len(verbal_score)

20

In [27]:
# adding a new column to dataframe with an array
df["verbal score"] = verbal_score

In [32]:
# create random integer numbers between 50 and 100
language_score =  np.random.randint(50,100,size=1000)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Oral score,verbal score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,33,0,64
1,female,group C,some college,standard,completed,69,90,88,33,1,56
2,female,group B,master's degree,standard,none,90,95,93,33,2,76
3,male,group A,associate's degree,free/reduced,none,47,57,44,33,3,69
4,male,group C,some college,standard,none,76,78,75,33,4,92
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,33,995,93
996,male,group C,high school,free/reduced,none,62,55,55,33,996,64
997,female,group C,high school,free/reduced,completed,59,71,65,33,997,74
998,female,group D,some college,standard,completed,68,78,77,33,998,64
999,female,group D,some college,free/reduced,none,77,86,86,33,999,50

In [36]:
# min value inclusive and high value exclusive
min(language_score)
max(language_score)

np.int32(99)

In [ ]:
# adding a new column to dataframe with an array
df["language score"] = language_score

In [38]:
# create random float numbers between 1 and 100
np.random.uniform(1,100,size = 1000)

array([69.60429621, 33.21074427, 17.43803323, 41.82491904, 84.92310058,
       23.35025941, 99.927408  , 20.2401943 , 39.24953493,  6.27721116,
       15.42274272, 95.65464619, 54.09484422, 99.42670814, 88.23548229,
       20.1247341 , 87.50454987, 34.97149595, 74.93919874, 54.9883948 ,
       53.39015689, 15.24091357, 48.09949487, 96.65414601, 53.605498  ,
       32.72254766,  3.93828839, 56.28166317, 74.74997699, 19.55883401,
       41.94179503, 86.53911445, 10.95322542, 76.95015843,  3.11020887,
       21.51365148, 62.68415559, 56.98873751, 87.05852928, 43.27611252,
       42.2011752 , 95.72496367, 62.50879562,  9.78202276,  4.86174358,
       11.94923077, 18.70407569, 77.29642031, 48.65696838,  5.9829212 ,
       45.1528057 , 48.86406684, 42.92703102, 50.15309249,  1.01081811,
       43.3939583 , 66.911084  , 92.45269699, 51.43091629, 15.45235865,
       73.66041213, 75.33554836, 86.6532242 , 82.74190749, 25.77781553,
       16.2071254 , 10.17638322,  3.46119748, 46.16262563, 31.41523465,
       88.75262239, 16.64682419, 95.75682062, 11.25667317, 21.70005276,
       97.20195851, 93.91090286, 60.41755929, 49.84840867, 27.22482367,
        5.81733891, 69.21106733, 72.37616202, 43.71635399, 96.36425206,
       86.76921786, 21.55772096, 60.7842998 , 70.35808517,  7.18731191,
       36.20155336, 16.62955   , 37.09527163, 15.72234351, 22.45917339,
       54.09648727, 92.08025176, 26.64278825, 66.07914999,  2.04339018,
        8.43370221, 61.96172571, 44.16203362, 77.43765987,  9.35701773,
        9.59696169, 48.36042608, 35.52078073, 86.29958373, 18.70003535,
       18.56947001, 16.40839783, 37.57117841, 59.05171221, 51.36817123,
       62.19160541, 70.22437278, 99.99129062, 91.6902997 , 35.5122694 ,
       76.98155361, 26.48387869, 16.65420556, 38.42631138, 11.22912751,
       38.96382056, 93.40976972, 75.59883703,  5.34949782, 13.86364021,
       63.2415466 , 53.02699549, 13.77902664, 20.15254936, 72.49784368,
       28.3200307 , 42.95178295, 29.35875397, 57.730176  , 88.69727921,
       35.13802663, 88.28979727, 95.20203319, 72.62518911, 46.10215506,
       66.67299851, 20.46555417, 22.38149674, 21.06981616, 50.29350549,
       49.56078638, 94.15206634, 27.61997481, 22.97522626, 60.60179548,
       24.45636634, 31.51098873, 45.13407021, 72.98249318, 79.79275266,
       99.03958182, 48.88562589, 42.19266616, 48.16486592, 85.60682157,
       70.22338784, 62.07123058, 34.29751967, 25.60238989, 98.61575095,
       53.74326347, 58.48461585, 32.21910435, 16.71186364, 69.88186859,
       56.26192555, 52.91094347, 89.73457039, 57.69295317, 23.96877232,
       54.62561495, 87.53260802, 86.19620279, 90.12843478, 56.29812236,
       87.5257466 , 12.28187983, 52.20471034, 70.75924289, 73.60503776,
       38.58023945, 18.16635705, 20.00831063, 99.50437781, 43.13950801,
       62.66213575, 24.79756062,  5.41457888, 28.54881733, 91.22335555,
       75.00571104, 34.60778539, 13.49099595, 85.15326514, 76.10718095,
        5.92985164, 23.15752899, 53.22817866, 24.2321256 , 28.45421177,
       80.9405644 , 97.90007833, 45.99325061, 69.43264511, 35.72723563,
       39.4785919 , 44.83641091, 85.56517878, 34.30433609, 21.21352374,
       77.63469435,  3.29881901, 71.39222179, 62.86332788, 27.58963565,
       47.40203016, 15.59316778, 70.62951538, 94.03231626, 16.62928234,
       82.82794622, 11.19818245, 21.03867195, 89.97040112, 29.27024102,
       57.35799215, 25.87555693, 97.83554773, 54.43909022, 74.50632302,
       22.19663423, 46.18001768, 42.35908125, 70.05034898, 77.65887482,
       27.46517567, 75.06663352, 42.12959755,  1.55006777, 96.75711138,
       67.27740676, 34.45691079, 52.18621092, 77.14900598, 14.95305079,
       17.68947755, 74.90790443, 74.61052141, 11.67214612, 30.68261946,
       73.34797397, 44.03066482, 77.13364968, 93.5273983 ,  3.65951093,
       60.70019703, 67.8894746 , 79.59825818,  7.27568552, 36.71285984,
       22.72965749, 95.2780139 , 45.49019942, 85.57498811, 14.47461055,
       84.68877057, 52.14434158, 22.67044633,  7.26279856, 98.97354998,
       18.26957775, 96.10622281, 76.66886861, 30.51958098, 62.92041149,
       40.9364569 , 91.25175329, 66.20976031, 77.76148311, 27.69088336,
       77.93869676, 65.49075673, 27.29679087, 73.54863225, 27.63496314,
       12.92243701, 81.28947504, 81.31363308, 32.98638246,  6.64455388,
       58.38011556, 25.57468072,  6.79773786, 10.07097617,  3.92883524,
        1.70189505, 98.64111003, 62.75205786, 90.93975747, 24.41326987,
       23.55166793, 81.13044651, 48.20580007, 69.85707482, 52.99541613,
       50.13432105, 27.68025353,  6.77663567, 75.71240086,  2.60226307,
       61.0420535 ,  1.86768316, 44.39054112, 27.61509358, 12.56293891,
       45.31170714, 94.79527307, 75.58281042, 89.02097117, 72.46426353,
       76.78796211, 14.67206858, 46.64523412, 98.57628333, 51.61328734,
       92.91508934, 92.40761507, 92.11270516,  2.03891592, 98.527316  ,
       68.17129952, 30.05023894, 79.81754665,  9.89056627, 46.33980378,
       94.0668032 , 55.02944231, 91.84778804, 55.7016584 , 46.38678623,
       97.69823997, 72.87568519, 20.84103497, 41.02269548, 28.38224043,
       71.40714119, 18.17734299, 72.41256909, 47.62311853, 71.12269221,
       10.73059635, 11.58199536, 77.63018505, 49.72102204, 17.88892475,
       41.17612376, 37.18223368, 48.20781181, 86.69912262, 34.31977018,
       57.64786387, 14.05604111, 50.89884438,  3.12880224, 98.13721225,
       36.97891507,  4.48882939, 44.13592827, 93.45828282, 88.3147425 ,
       83.48408109, 83.12242238, 59.62581954, 31.88278586, 66.51884965,
       96.83050087, 55.04745469, 26.87619002, 92.60673734, 52.90813257,
       93.83707195, 20.35151163, 18.68419977, 66.65955814, 19.17838919,
       76.8712265 , 25.5970509 , 16.60859264, 45.98331601, 47.68884316,
        2.18401774, 65.35273561, 48.81199685, 87.22113011, 54.32585291,
       40.65511612, 35.26621904, 27.32943512, 62.56841955, 29.01850608,
       72.84766937, 22.22813681, 64.62835527, 19.11827194, 59.0781214 ,
       87.75327662,  3.64442465, 96.26762164, 73.38727324, 52.41681208,
       58.24691721, 42.45315309,  9.20888284, 48.62267246, 18.02698769,
       19.14791081, 75.464131  , 76.14412495, 15.44674677, 44.16462171,
       45.89350404,  6.80542565, 54.979224  , 39.35933716, 95.78073958,
       59.67721017, 43.60830098, 28.36759926, 30.2870097 , 65.14362654,
       72.19088868, 72.70045664, 89.64862083, 37.01537272, 32.50363713,
       27.77947342, 21.41108272, 83.22813122, 16.63643218, 33.80592673,
       79.5465254 , 40.96158863, 46.50170523, 33.05183207, 81.17307102,
       72.34052185, 86.44364936, 19.77930888, 16.16857506, 86.89074234,
       86.4716767 , 17.06172629, 32.78500427, 82.76413085, 15.41280774,
       36.43602175, 94.25519186, 10.13838887, 28.87061353, 28.85398165,
       10.97191708, 18.68589173, 59.21874652, 79.0314963 , 20.15059145,
       50.02248191, 28.30171644, 42.23980196, 13.71922018, 80.67879072,
        3.0611912 , 64.65550271, 84.0012126 , 81.93644976, 39.9687942 ,
       35.71518335, 27.2340007 ,  2.0802518 , 61.5623626 , 91.35929406,
       90.04971491,  1.82372855, 81.70441438, 71.23614845, 75.4910325 ,
       12.37385707,  2.39784104, 18.03770481, 94.63552542, 63.59084966,
       90.04911129, 44.65857253, 18.67689916, 89.69568427, 91.00851773,
       63.44492131, 29.85240191, 13.24823606, 35.91048848,  5.43637846,
       78.27369797, 19.40368591, 68.25747439, 33.61773257, 98.26016909,
       45.40004254, 88.49505425, 41.16581827, 22.93821553, 13.56023444,
       98.16985291, 22.10141889, 98.25926319,  1.66610317, 28.35256345,
       75.5227504 , 93.45147092, 44.23561978,  4.56581535, 19.46927929,
        1.53073442, 49.27394814, 98.34103089, 50.93647265,  9.53491508,
       60.02529467, 28.95433376, 92.39288752, 58.83125071,  3.82702558,
       49.33495768, 19.11182085, 74.50993891, 52.18174148, 63.71192157,
       84.81532609, 25.19688972, 39.70879007, 58.35579556, 88.44834414,
        8.76794516, 71.38929547, 90.19269761, 63.48775443, 47.46213035,
       25.85356542, 63.11415925,  1.92525655, 35.95677652, 13.00521351,
       26.82516621, 49.30760077, 63.3876781 ,  6.18790861, 11.85997754,
       93.65926176, 94.66368078, 98.75749604,  3.15097309, 25.88282108,
       20.83484236, 57.5999638 ,  8.45782149, 91.55874081, 21.4047608 ,
       20.58441668, 68.61038727, 44.13521147, 97.08969925, 90.06551359,
       96.04352891, 79.84605981, 70.78282983, 79.9477978 , 63.09834948,
       73.8318477 , 86.99075585,  4.16968235, 91.51454418, 20.27133189,
       57.74907319, 32.95487589, 20.38469143, 88.78682322, 84.64721473,
       29.02660529, 70.66035893, 81.37990127, 74.57935634, 22.90915463,
       80.10935203, 64.35176349, 99.41801781, 88.37050641, 51.65043168,
       67.05926412, 33.91366222, 67.05788128, 54.13638984, 52.68479368,
       19.36463315, 87.91917494, 84.02985691, 78.68971806, 68.67336876,
       94.50267669, 35.01316095, 52.67266555, 14.30188915, 12.4758294 ,
       40.48800543, 89.34619432, 91.99934778, 20.3286622 , 28.04519865,
       76.36945022, 30.58819058,  9.61551759, 70.40453416,  7.73869542,
       31.07183997, 71.30374102, 85.4965384 , 97.40402485, 73.79208101,
       46.89318866, 13.03876753, 45.20090232, 58.33067491, 11.28403986,
       88.21506352, 42.77903571, 39.17828966,  5.71280975, 58.33133935,
       42.94535709, 14.65013071, 20.15289057, 50.10355642, 98.41154123,
       36.29966665,  6.54953498, 40.22734577, 30.26653606, 35.54571914,
       78.2284983 , 12.39779355, 77.22369992, 84.06612779,  5.33313692,
       60.36267094, 58.95487965, 57.2230807 , 34.2640346 , 99.71053513,
       96.77858016, 53.05503221, 19.75635973, 42.63028332, 34.08800651,
       77.1691263 , 52.68404491, 74.2034532 , 53.10860096, 60.42366557,
       30.75718546, 12.50128479, 87.92883099, 30.7546813 , 71.2705547 ,
       78.33877143, 85.32911886, 48.81695352, 70.70460313, 95.365583  ,
       99.53037325,  4.8926657 ,  5.64572491, 20.69531415, 37.64754514,
        9.07470984, 59.39030844, 68.93754421, 17.7790481 , 97.7899077 ,
       86.67253554, 36.19852959,  6.88371038, 92.7515777 , 74.24993344,
       29.91021742, 50.53222844, 11.30756498, 25.61908809, 51.04195535,
       46.5733662 , 16.49458017, 61.93391773, 70.70444991, 28.10193685,
       88.25446339,  9.54695953, 29.38076822, 67.24597398, 13.66327784,
       24.18950509, 84.91554082, 90.78731836, 46.69532607, 37.34854222,
       10.57434202, 68.08034457, 71.86109038, 26.41275163, 83.737257  ,
       54.67352234, 33.23638173, 95.41788111, 53.92419235, 19.88607526,
       67.48402414, 31.8782327 , 33.69987553, 18.45072872, 46.46298896,
       48.2841053 , 95.17040671, 49.70231791, 55.16680168, 64.77166613,
        6.11954916, 67.79370571, 67.0670108 , 87.26161412, 27.96306435,
       97.98771991, 64.73267007, 89.97081167, 77.8739845 , 83.64863283,
       26.7135576 , 17.00202721, 61.0672818 , 74.20572676, 56.71670477,
        7.27155346, 37.82653198, 27.55264364, 57.95756229, 51.50284913,
       84.21185948, 27.71641041, 47.68849644, 18.52289146, 45.3643328 ,
       76.82293136, 34.9336906 , 11.15802181, 41.46372428, 62.02245932,
       14.53651826, 93.04507337, 29.67031823, 14.90801896, 63.27438055,
       41.62538342, 93.85906422, 57.7458273 , 34.77192831, 73.29934557,
       31.34293194, 65.94041745, 83.09079673, 18.57870696, 64.89991997,
       92.58687095, 74.65342737, 28.12731688, 26.15031009, 74.14551537,
       92.96605077, 32.01235821, 25.82328758,  4.97355869, 20.21956581,
       81.68539621, 84.49600207, 18.37565298, 88.34568558, 83.48085112,
       70.4346877 , 45.20635725, 75.81076274, 64.18048861, 11.21526159,
       83.92610252, 63.77276666, 50.47747771, 57.4389893 , 39.12312849,
       68.21210862,  8.26721134, 51.41578289, 40.14557952, 94.32048815,
       73.75118237, 30.0001601 , 11.51939855, 29.80669505, 12.55992253,
       17.09565339, 21.77008162, 49.39199423, 88.76114152, 59.96130343,
       65.16046185, 75.66836708,  7.6348674 , 98.89354083, 21.92424303,
       68.33656788, 92.84467504, 72.62220648, 71.27405206, 91.05760796,
       81.27565507, 47.85936196,  6.87580856, 28.84494198, 92.6956338 ,
       56.3136478 , 18.87440626,  5.98313212, 90.22115379, 24.75536979,
       37.40153645, 88.34047244, 89.83140523, 45.38773502, 78.02272955,
       78.31015764, 41.20986706, 92.89833862, 95.58594325, 98.25114386,
       66.060025  , 75.78053039, 11.98435891, 54.29588689, 65.50886452,
       54.10590905, 29.37245618, 84.58241116, 49.47736298, 36.25491571,
       34.70381995, 14.67785607, 97.77182697, 81.51125919, 49.96144898,
       39.86967188, 12.34716968, 77.59724917, 44.39871447, 19.87442767,
       17.22068877, 21.76355719, 13.08438676, 28.00872226,  2.88278271,
       65.15088744, 53.40797612, 59.38680505,  7.80899134, 44.99706256,
       86.64944321, 30.39159353, 40.14303315, 49.35286955, 62.11639346,
       17.18723763, 56.16092282, 68.61783392, 64.76819491, 87.10858099,
       85.14372306, 38.76237364, 34.51863399, 30.90825856, 25.84627062,
        5.58266334, 48.03546166, 80.92261166, 25.96942499, 18.17050725,
       29.69299943, 36.24592264, 56.43746282, 64.70012514, 35.4473319 ,
       66.58681911, 58.19955541, 15.09874384, 60.88332558, 71.52999633,
       51.61445135, 82.21344547, 20.93710212, 91.83685739, 48.387645  ,
       47.65170348,  3.79586414, 66.1621408 , 98.45806222, 66.18501757,
       61.62691337, 76.7354092 , 42.44090299, 69.88117265, 54.87858812,
        7.23236786, 28.55217303, 41.92332179,  4.72707364, 57.53260685,
       54.97505703, 96.44313966, 76.61948163, 61.46662291, 74.81827039,
       83.73920565, 91.60498995, 61.21050181, 20.16666487, 60.81787584,
       45.21132023, 48.16256943, 27.77388135, 95.79267227, 92.822596  ,
       21.29509686, 89.89761326, 16.92841336, 10.22173635, 93.44700239,
        2.14369289, 42.6130879 , 63.06074887, 29.58614276,  8.44171708,
       17.1778013 , 98.34783729, 23.86441484,  5.36232162,  9.78884347,
       14.6379632 , 98.5294893 , 95.53007104, 41.16315705,  9.99255328,
        7.20764481, 96.11996683, 30.28077076,  4.15798838,  8.27495316,
       52.28223802, 45.87726537, 51.98598063, 84.11610809, 29.82024187,
       21.31176524, 30.09055166, 18.09081307,  8.06202837, 18.92314489,
       57.04877932, 97.29188239, 30.59946611, 29.30645534, 11.33290039,
       21.94458595,  2.39372853,  7.95158669, 98.81211837,  2.40834805,
       64.45176562, 95.14747311, 81.21459375, 27.52952703,  6.71135485])