In [1]:
import pandas as pd

In [11]:
# reading the csv file
df = pd.read_csv("StudentsPerformance.csv")
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Adding a new column

## Adding a new column with a scalar value

In [13]:
# adding new column to dataframe
df["Oral score"]=33
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Oral score
0,female,group B,bachelor's degree,standard,none,72,72,74,33
1,female,group C,some college,standard,completed,69,90,88,33
2,female,group B,master's degree,standard,none,90,95,93,33
3,male,group A,associate's degree,free/reduced,none,47,57,44,33
4,male,group C,some college,standard,none,76,78,75,33
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,33
996,male,group C,high school,free/reduced,none,62,55,55,33
997,female,group C,high school,free/reduced,completed,59,71,65,33
998,female,group D,some college,standard,completed,68,78,77,33
999,female,group D,some college,free/reduced,none,77,86,86,33

## Adding a new column with an array

The dataframe has 1000 rows, so we need to create an array with 1000 elements

In [14]:
# import numpy
import numpy as np

In [26]:
# create an array of 1000 elements
verbal_score =np.arange(0,1000)

In [22]:
# length of the array
len(verbal_score)

20

In [27]:
# adding a new column to dataframe with an array
df["verbal score"] = verbal_score

In [32]:
# create random integer numbers between 1 and 100
language_score =  np.random.randint(50,100,size=1000)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Oral score,verbal score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,33,0,64
1,female,group C,some college,standard,completed,69,90,88,33,1,56
2,female,group B,master's degree,standard,none,90,95,93,33,2,76
3,male,group A,associate's degree,free/reduced,none,47,57,44,33,3,69
4,male,group C,some college,standard,none,76,78,75,33,4,92
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,33,995,93
996,male,group C,high school,free/reduced,none,62,55,55,33,996,64
997,female,group C,high school,free/reduced,completed,59,71,65,33,997,74
998,female,group D,some college,standard,completed,68,78,77,33,998,64
999,female,group D,some college,free/reduced,none,77,86,86,33,999,50

In [36]:
# min value inclusive and high value exclusive
min(language_score)
max(language_score)

np.int32(99)

In [ ]:
# adding a new column to dataframe with an array
df["language score"] = language_score

In [ ]:
# create random float numbers between 1 and 100
np.random.rand